/* You can add global styles to this file, and also import other style files */
body{

    height: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-image: url('https://lp-cms-production.imgix.net/features/2019/08/zanzibar-beaches-GettyImages-1136453253-0aac4dd3f8e1.jpg?auto=format&w=1440&h=810&fit=crop&q=75'); ;
}
html{
    height: 100%;
    min-height: 100%;
}